<ion-header>
  <ion-toolbar>
    <ion-title>Início</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div style="text-align: center;">
    <ion-col>
      <img src="/assets/images/logo-transparent.png">
    </ion-col>
    <h3 style="color: #37995d !important">SEJA BEM-VINDO(A)</h3>
    <h5 style="color: #37995d !important">O objetivo dessa ferramenta é instrumentalizar os processos de auditoria por meio da verificação das diversas metodologias utilizadas nos programas de boas práticas e o monitoramento de performance de excelência em qualidade e segurança do paciente.</h5>
  </div>

</ion-content>